.FooterComponent {
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

.FooterComponent p{
    padding: 0 20px;
    color: var(--col_back_grey_light);
    height: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 50px
}


