.AgendaComponent {
    background: rgb(0,0,0);
    background: linear-gradient(75deg, rgba(0,0,0,1) 0%, rgb(24, 24, 24) 100%);
    padding: 20px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
    scrollbar-color: var(--col_back_grey_light) var(--col_back_grey_dark);
    scrollbar-width: thin;
}

.spacer {
    height: 60px;
}