.AgendaComponent {
    background-color: var(--transparent-overlay);
}


@media (max-width: 800px) {
    .AgendaComponent {
        display: block;
    }
}

.options {
    z-index: 1;
    max-width: var(--centered_inlay_width);
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.options select {
    padding: 5px;
    width: 200px;
    font-size: 1.5rem;
}

.buttonHolder {
    display: flex;
}

.options button {
    width: 200px;
    font-size: 1.5rem;
    height: 100%;
    margin-right: 30px;
    background-color: var(--transparent);
    color: var(--col_text_light);
}

.listCentered {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 750px) {
    .options {
        height: 35px;
        font-size: 0.75rem;
        justify-content: space-between;
    }

    .options select {
        width: 45%;
        font-size: 0.75rem;
    }

    .buttonHolder {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .options button {
        width: 35%;
        font-size: 0.75rem;
    }
}

.options button:hover {
    border-style: none;
    border-bottom: 2px solid var(--col_interaction_hover);
}

.active {
    border-style: none;
    border-bottom: 2px solid var(--col_interaction);
}

.inactive {
    border-style: none;
    border-bottom: 2px solid var(--transparent);
}
