.textbox {
    background-color: var(--transparent-overlay);
    border-radius: 10px;
    text-align: justify;
    padding: 0 20px;
    max-width: var(--centered_inlay_width);
    min-height: var(--component_max_heigth_landscape);
    height: 100%;
}

.textbox p {
    margin: 10px;
    font-size: 1rem;
    text-align: justify;
}

.textbox h1 {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1rem;
}

@media (min-width: 601px) { 
    .VitaComponent {
        display: flex;
        justify-content: center;
    } 

    .textbox {
        z-index: 2;
    }

    .textbox p {
        font-size: 1.2rem;
    }
    
    .textbox h1 {
        font-size: 1.5rem;
    }
}


@media (max-width: 600px) { 
    .VitaComponent {
        display: block
    }
}
