.EditPopup {
    position: fixed;
    top: calc(var(--header_height) + 20px);
    background-color: white;
    width: var(--centered_inlay_width);
    max-width: 80vw;
    color: black;
    height: calc(100vh - (calc(var(--header_height) + 20px)));
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
}