@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.HomeComponent {
    background: rgb(0,0,0);
    background: linear-gradient(75deg, rgba(0,0,0,1) 0%, rgb(24, 24, 24) 100%);
}

@media (max-width: 600px) { 
    .imageFill {
        margin-bottom: -10px;
        width: 100vw;
    }

    .banner {
        text-align: center;
        font-size: 3rem;
        font-family: 'Allison', cursive;
    }

    .bannerContainer {
        margin-top: 30px;
        width: 100vw;
        color: var(--col_text_light);
        background-color: var(--col_back_grey_light);
    }
}

@media (min-width: 601px) { 
    .imageContainer {
        display: flex;
        justify-content: center;
    }

    .imageFill {
        margin-bottom: -10px;
        height: calc(100vh - 50px);
    }

    .banner {
        text-align: center;
        font-family: 'Allison', cursive;
        font-size: 4rem;
    }

    .bannerContainer {
        width: 450px;
        bottom: 15vh;
        left: 100px;
        position: fixed;
        color: var(--col_text_light);
        background-color: var(--col_back_grey_light);
    }
}


