@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.HomeComponent {
    background-color: var(--col_back_dark);
}

.imageFill {
    margin-left: 23vw;
    margin-bottom: -10px;
}
