@media (min-width: 915px) {
    .bigHeadder{
        display: flex;
        justify-content: left;
        align-self: center;
        width: 100vv;
        background-color: var(--col_back_grey_light);
    }

    .smallHeader {
        display: none;
    }
}

@media (max-width: 914px) {
    .bigHeadder{
        display: none;
    }

    .smallHeader {
        position: fixed;
        z-index: 3;
        left: 10px;
        top: 10px;
    }
}

.HeaderComponent a{
    padding: 0 40px;
    color: var(--col_text_light);
    text-decoration: none;
    height: var(--header_height);
    font-size: 1.5rem;
    line-height: var(--header_height);
}

@media (max-width: 915px) {
    .HeaderComponent a{
        padding: 0 30px;
        height: 60px;
        line-height: 60px
    }
}

@media (min-width: 915px) {
    .HeaderComponent a{
        font-size: 0.8rem ;
        padding: 0 25px;
    }
}

@media (min-width: 1125px) {
    .HeaderComponent a{
        font-size: 1rem ;
        padding: 0 30px;
    }
}

@media (min-width: 1325px) {
    .HeaderComponent a{
        font-size: 1.2rem ;
        padding: 0 35px;
    }
}

@media (min-width: 1590px) {
    .HeaderComponent a{
        font-size: 1.5rem ;
        padding: 0 40px;
    }
}





.selected {
    background-color: var(--col_interaction);
}

.selected:hover {
    background-color: var(--col_interaction_hover);
}

.notSelected {
    background-color: var(--col_back_grey_light);
}

.notSelected:hover{
    background-color: var(--col_back_grey_dark);
}