@media (min-width: 601px) {
    .bigHeadder{
        display: flex;
        justify-content: flex-start;
        align-self: center;
        width: 100vv;
        background-color: var(--col_back_grey_light);
    }

    .smallHeader {
        display: none;
    }
}

@media (max-width: 600px) {
    .bigHeadder{
        display: none;
    }

    .smallHeader {
        position: fixed;
        left: 10px;
        top: 10px;
    }
}



.HeaderComponent a{
    padding: 0 40px;
    color: var(--col_text_light);
    text-decoration: none;
    height: var(--component_protrait_padding_top);
    font-size: 1.5rem;
    line-height: var(--component_protrait_padding_top);
}

.selected {
    background-color: var(--col_interaction);
}

.selected:hover {
    background-color: var(--col_interaction_hover);
}

.notSelected {
    background-color: var(--col_back_grey_light);
}

.notSelected:hover{
    background-color: var(--col_back_grey_dark);
}