.ProjectView {}

.viewSelectorContainer {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.selector {
    width: 200px;
    font-size: 1.5rem;
    padding: 5px;
}

.list {
    border-color: var(--col_interaction_hover);
    border-style: solid;
    border-width: 1px;
    
    max-width: 1000px;
    max-height: 800px;
    overflow-y: auto;
    scrollbar-color: var(--col_back_grey_light) var(--col_back_grey_dark);
    scrollbar-width: thin;
    border-radius: 10px;
}