.newProjectTitle{
    width: calc(80% - 5px);
    height: calc(100% - 4px);
    padding-left: 5px;
}

.addNewProjectBtn {
    margin: 0;
    margin-left: 10px;
    width: calc(20% - 18px);
    height: 100%;
}

.newProjectForm {
    height: 50px;
    display: flex;
    flex-direction: row;
}