@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --col_back_dark: black;
  --col_back_grey_dark: rgb(24, 24, 24);
  --col_back_grey_light: rgb(51, 51, 51);
  --col_back_grey_light_transparent: rgba(51, 51, 51, 0.897);
  --col_text_light: white;  
  --col_text_dark: rgb(156, 156, 156);  
  --col_interaction: rgb(143, 33, 33);
  --col_interaction_hover:  rgb(122, 14, 14);
  --col_dark_red:  rgb(31, 11, 11);
  --component_background: linear-gradient(75deg, rgba(0,0,0,1) 0%, rgb(24, 24, 24) 100%);
  --header_height: 70px;
  --component_inlay_padding_top: 20px;
  --component_max_heigth_landscape: calc(100vh - var(--header_height) - var(--component_inlay_padding_top));
  --component_max_heigth_portrait: calc(100vh - var(--header_height));
  --centered_inlay_width: 60vw;
  --transparent: rgba(0,0,0,0);
  --transparent-overlay: rgba(0, 0, 0, 0.658);
}



@media (max-width: 800px) {
  :root {
    --centered_inlay_width: calc(100vw - 20px);
  }
}



.huge-text {
  font-size: 1.75rem;
}

/*protect images from beeing copied*/
img {
  pointer-events: none;
}

@media (max-width: 800px) {

  .title {
    color: var(--col_text_light);
    font-size: 1.2rem;
  }
}

@media (min-width: 801px) {
  .title {
    color: var(--col_text_light);
  }
}

select {
  text-align: center;
  background-color: var(--col_back_grey_light);
  border-radius: 5px;
  color: var(--col_text_light);
}

select:hover {
  background-color: var(--col_back_grey_dark);
}

select:dropdown {
  background-color: var(--col_back_grey_light);
  border-color: var(--col_interaction);
}

